<p id="notice"><%= notice %></p>

<p>
  <b>Timestamp:</b>
  <%= @post.timestamp %>
</p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Body:</b>
  <%= @post.body %>
</p>



<!-- TODO: CHECK TO SEE IF THE PERSON WHO MADE THE POST IS LOGGED IN SO THAT THEY CAN EDIT IT, OR IF THEYRE ADMIN -->
<%= link_to 'Edit', edit_topic_post_path(@topic, @post) %> |
<%= link_to 'Back', :back %>
