<p id="notice"><%= notice %></p>

<p>
  <b>Author:</b>
  <%= @post.author %>
  <b>Timestamp:</b>
  <%= @post.timestamp %>
</p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Body:</b>
  <%= @post.body %>
</p>



<!-- TODO: CHECK TO SEE IF THE PERSON WHO MADE THE POST IS LOGGED IN SO THAT THEY CAN EDIT IT, OR IF THEYRE ADMIN -->
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
