<h3>Login</h3>
<%= form_for @user_session, :url => user_session_path do |f| %><!-- Currently Visable. Put "=" after "%" to show -->
  <!-- TODO: ERROR HANDLING -->
  <%= f.label :username %><br />
  <%= f.text_field :username %><br />
  <br />
  <%= f.label :password %><br />
  <%= f.password_field :password %><br />
  <br />
  <%= f.check_box :remember_me %><%= f.label :remember_me %><br />
  <br />
  <%= f.submit "Login" %>
<% end %>