<!DOCTYPE html>
<html>
<head>
  <title>PersistantWorld</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag 'jquery.fancybox-1.3.4.css' %>
  <%= stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css' %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js' %>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js' %>
  <%= javascript_include_tag 'fancybox/jquery.fancybox-1.3.4.pack' %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>

</body>
</html>
